.sider-parent {
    background-color: lightblue;
    height: 100vh;
}
.content-parent {
    background-color: aqua;
    height: 100vh;
}
.btn-sider {
    padding-left: 10vh !important;
    padding-right: 10vh !important;
}
.hoverBorder {
    border-radius: 10px;
    cursor: pointer;
}

.hoverBorder:hover {
    background-color: rgb(195, 195, 251);
    /* color: white; */
}
.hoverBorder:active{
    opacity: .9;
    background-color:rgb(167, 167, 243)
}

.wrapper {
    margin-left: 0;
}